<body style="background-color:powderblue;">
<h1 style="color:white;" align="center"> BOOKMARKS </h1>

<form name="input" action="/bookmarks" method="GET">
  <input type="submit" value="View Bookmarks">
</form>
<form name="input" action="/bookmarks/new" method="GET">
  <input type="submit" value="Create Bookmark">
</form>

</body>
