<body style="background-color:powderblue;">
<form name="input" action="/save" method="POST">
    Add Bookmark:
    <input type="text" name="url">
  <input type="submit" value="Save">
</form>

<%= styled_flash%>
<!-- # <% if params[:error]%>
You must submit a valid url
<% end %> -->
</body>
